---
---

@import "{{ site.theme }}";

.count { font-weight: bold }

.descr-list { padding-left: 4ex }

#downloads { margin-bottom: 30px; }
#download-css span {
  background: transparent url(../images/csv-icon.png) 12px 50% no-repeat;
}
#download-xlsx span {
  background: transparent url(../images/xlsx-icon.png) 12px 50% no-repeat;
}

header { padding-bottom: 20px; }
header h1 { font-size: 30px; }
header h2 { font-size: 20px; }
